.project-heading {
    text-align: center;
    padding: 10rem 0 2rem 0;
  }


  .project-container {
    max-width: 500px;
    margin: auto;

  }

  @media screen and (max-width: 740px) {
    .project-container {
      max-width: 90%;
      margin: auto;
    }
  }