.alicard {
    border: 1px solid #ccc;
    border-radius: 0px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Esto separará el título y el precio */
}

.titulo {
    margin: 0;
    text-align: left; /* Alinea el texto del título a la izquierda */
}

.separator {
    width: 2px;
    height: 100%;
    background-color: #ccc;
    margin: 0 10px;
}

.precio {
    margin: 0;
    text-align: right; /* Alinea el texto del precio a la derecha */
}


@media screen and (max-width: 780px) {
    .alicard {
        font-size: 0.8em; /* Tamaño de fuente reducido */
    }
  }

  @media screen and (max-width: 500px) {
    .alicard {
        font-size: 0.7em; /* Tamaño de fuente reducido */
    }
  }